<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Servlet01</display-name>
    <servlet-name>Servlet01</servlet-name>
    <servlet-class>com.servlet.Servlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet01</servlet-name>
    <url-pattern>/Servlet01</url-pattern>
  </servlet-mapping>
  <display-name>eeit82_web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet02</display-name>
    <servlet-name>Servlet02</servlet-name>
    <servlet-class>com.servlet.Servlet02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet02</servlet-name>
    <url-pattern>/Servlet02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet03</display-name>
    <servlet-name>Servlet03</servlet-name>
    <servlet-class>com.servlet.Servlet03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet03</servlet-name>
    <url-pattern>/Servlet03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet12</display-name>
    <servlet-name>Servlet12</servlet-name>
    <servlet-class>com.servlet.Servlet12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet12</servlet-name>
    <url-pattern>/Servlet12</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet15</display-name>
    <servlet-name>Servlet15</servlet-name>
    <servlet-class>com.servlet.Servlet15</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet15</servlet-name>
    <url-pattern>/Servlet15</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet14</display-name>
    <servlet-name>Servlet14</servlet-name>
    <servlet-class>com.servlet.Servlet14</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet14</servlet-name>
    <url-pattern>/Servlet14</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet16</display-name>
    <servlet-name>Servlet16</servlet-name>
    <servlet-class>com.servlet.Servlet16</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet16</servlet-name>
    <url-pattern>/Servlet16</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet17</display-name>
    <servlet-name>Servlet17</servlet-name>
    <servlet-class>com.servlet.Servlet17</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet17</servlet-name>
    <url-pattern>/Servlet17</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet18</display-name>
    <servlet-name>Servlet18</servlet-name>
    <servlet-class>com.servlet.Servlet18</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet18</servlet-name>
    <url-pattern>/Servlet18</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet04</display-name>
    <servlet-name>Servlet04</servlet-name>
    <servlet-class>com.servlet.Servlet04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet04</servlet-name>
    <url-pattern>/Servlet04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet05</display-name>
    <servlet-name>Servlet05</servlet-name>
    <servlet-class>com.servlet.Servlet05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet05</servlet-name>
    <url-pattern>/Servlet05</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet06</display-name>
    <servlet-name>Servlet06</servlet-name>
    <servlet-class>com.servlet.Servlet06</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet06</servlet-name>
    <url-pattern>/Servlet06</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet07</display-name>
    <servlet-name>Servlet07</servlet-name>
    <servlet-class>com.servlet.Servlet07</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet07</servlet-name>
    <url-pattern>/Servlet07</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet08</display-name>
    <servlet-name>Servlet08</servlet-name>
    <servlet-class>com.servlet.Servlet08</servlet-class>
    <multipart-config>
      <location>C:\Users\user\eclipse-webworkspace\eeit82_web\src\main\webapp\upload</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>2097152</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet08</servlet-name>
    <url-pattern>/Servlet08</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet09</display-name>
    <servlet-name>Servlet09</servlet-name>
    <servlet-class>com.servlet.Servlet09</servlet-class>
    <multipart-config>
      <location>C:\Users\user\eclipse-webworkspace\eeit82_web\src\main\webapp\upload2</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>2097152</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet09</servlet-name>
    <url-pattern>/Servlet09</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet10</display-name>
    <servlet-name>Servlet10</servlet-name>
    <servlet-class>com.servlet.Servlet10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet10</servlet-name>
    <url-pattern>/Servlet10</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet11</display-name>
    <servlet-name>Servlet11</servlet-name>
    <servlet-class>com.servlet.Servlet11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet11</servlet-name>
    <url-pattern>/Servlet11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet13</display-name>
    <servlet-name>Servlet13</servlet-name>
    <servlet-class>com.servlet.Servlet13</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet13</servlet-name>
    <url-pattern>/Servlet13</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
</web-app>